span.term {
    /* without important, this was getting overridden by docbook-xsl.css */
    color: lightblue !important;
}

body {
    background-color: black;
    color: grey;
}

a:link {
    color: #54AFBE; /* a muted cyan */
}
a:visited {
    color: #7647A2;
}

code.literal {
    color: lightgray; /* a muted cyan */
}

pre.screen {
    background: black;
    color: lightgray;
}
