/*
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}
*/
body {
    background-color: black;
    color: grey;
}

a:link {
    color: #54AFBE; /* a muted cyan */
}
a:visited {
    color: #7647A2;
}

code.literal {
    color: lightgray; /* a muted cyan */
}

pre.screen {
    background: black;
    color: lightgray;
}

/*
table {
    background-color: black;
}
*/
/*
tr {
    /* once in a while, de0u manually adds a color for one of these */
/*
background-color: black;
}
*/
